.circle { 
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
}

body {
    margin: 0;
    display: grid;
    grid-template-areas: 'header''section''section2 ''section3''footer';
    grid-template-rows: 79vh 51vh 70vh 60vh 10vh;
    font-family: 'Lato', sans-serif;
}

body section:nth-child(2) {
    grid-area: section;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

body section:nth-child(2) div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body section:nth-child(2) div:first-child {
    margin-left: 169px;
}

body section:nth-child(2) div:last-child {
    margin-right: 169px;
}

body section:nth-child(2) div div.circle {
    width: 85px; 
    height: 85px; 
    margin: 0px;
    background: #2fd072; 
}

body section:nth-child(3) {
    grid-area: section2;
    background-color: #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

body section:nth-child(3) aside:first-child div:first-child {
    margin-left: 169px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 15pt;
}

body section:nth-child(3) aside:first-child div input {
    width: 261px;
    padding-left: 12px;
    border: 0;
    height: 51px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 12pt;
}

body section:nth-child(3) aside:first-child div div button {
    width: 112px;
    height: 54px;
    margin: -6px;
    padding: 0;
    border: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: arial;
    background-color: #2fd072;
    font-size: 18px;
    font-weight: bold;
}

body section:nth-child(3) aside:nth-child(2) div {
    width: 50%;
    margin-right: 169px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 15pt;
}

body section:nth-child(4) {
    grid-area: section3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body section:nth-child(4) div {
    margin: 0px 225px 0px 225px;
}

body section:nth-child(4) div p{
    color:grey;
    text-align: center;
}

body section:nth-child(4) div:first-child p{
    font-style: italic;
}


body section:nth-child(4) div:last-child nav,
body section:nth-child(4) div:nth-child(2) {
    display: flex;
    justify-content: center;
}

body section:nth-child(4) div:last-child nav a.circle {
    width: 35px; 
    height: 35px; 
    margin: 6px;
    background-color: #e3e3e3;
}

body section:nth-child(4) div:last-child nav a img {
    width: 20px;
}

body section:nth-child(4) div:nth-child(2) a img {
    width: 70px;
    margin: 8px
}

body section:nth-child(4) div:last-child nav a:hover{
    background-color: #2fd072;
}

footer {
    grid-area: footer;
    background-color: #e3e3e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div a {
    text-decoration: none;
    color: grey;
    margin: 10px;
}

footer div a:hover {
    color: #2fd072;
}

header {
    grid-area: header;
    background-image: url(imagens/banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    border-top: 8px solid;
    border-color: #2fd072;
    grid-template-areas: 'logo' 'imagem';
    grid-template-columns: 66.6vw 34vw;
    grid-template-rows: 1511.98px;
}

header aside:first-child  {
    grid-area: logo;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

header aside:first-child div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -60px;
}

header aside:first-child div div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header aside:first-child div div:nth-child(2) {
    width: 85%;
}

header aside:first-child div div:first-child h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36pt;
    font-weight: inherit;
    margin-left: -77px;
    margin-top: 129px;
    margin-block-end: 32px;
}

header aside:first-child div div:first-child h1 span {
    color: #2fd072;
}

header aside:first-child div div:nth-child(2) h2 {
    font-family: Arial;
    font-weight: lighter;
    font-size: 19pt;
    margin-top: -15px;
    padding-left: 202px;
    margin-left: 74px;
}

header aside:first-child nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;    
    margin-left: -150px;
}

header aside:first-child nav a {
    width: 50px; 
    height: 50px; 
    background: #444444; 
    margin: 8px;
}

header aside:first-child nav a:hover {
    width: 50px; 
    height: 50px; 
    background: #2fd072; 
}

header aside:nth-child(2) {
    grid-area: imagem;
    display: flex;
    align-items: flex-end;
}

header aside:nth-child(2) img {
    width: 87%;
}

@media (max-width: 769px) {
    
    header {
        background-color: azure;   
        background-image: none;  
    }

    header aside:nth-child(2) {
        display: none;
    }
    
    header aside:first-child {
        display: flex;

    }
}